.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    display: flex;
    justify-content: space-evenly;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

#message, .center, td {
    text-align: center;
}

#message {
    height: 80px;
}

.middle {
    width: 50%
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Styling the board */
td {
    height: 5rem;
    width: 5rem;

    font-size: larger;
}