<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boggle</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="left container" id="scores">
        <h1 id="score">Score: 0</h1>
        <h1 id="highscore">Highscore: {{ session['highscore'] }}</h1>
      </div>
      <div class="middle">
        <h1 id="message">Lets play!</h1>
        <section class="content">
          <table class="board">
            {% for row in session['board'] %}
            <tr class="row">
              {% for letter in row %}
              <td class="letter">{{ letter }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </table>
          <!-- Form for entering a new guess -->
          <div>
            <form id="guess-form" action="/guess" method="POST">
              <div class="form-div">
                <label for="guess" class="center">Take a guess!</label>
                <input type="text" name="guess" id="guess" />
                <input type="submit" value="Submit" id="submit-guess" />
              </div>
            </form>
          </div>
          <!-- EndForm -->
          <!-- Form for creating a new game -->
          <div>
            <form action="/startGame" id="new-game-form">
              <div class="form-div">
                <label for="start-new-game">Start new game?</label>
                <input type="submit" value="Start game!" id="submit-start" />
              </div>
            </form>
          </div>
          <!-- EndForm -->
          <!-- guesses are stored here in a UL -->
          <section class="container" id="guessed-words-container">
            <h3>Guesses:</h3>
            <ul id="guessed-words"></ul>
          </section>
        </section>
      </div>
      <div class="right container">
        <h2 id="time">Time: 60</h2>
      </div>
    </div>
    <!-- Library JS -->
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <!-- My JS -->
    <script src="/static/app.js"></script>
  </body>
</html>
